{% include "shared/header.html" %}

<!--Name of the event
Type of the event (birthday party, conference talk, wedding, etc.)
Event host (could be an individual’s name or an organization)
Event start date and time
Event end date and time
Guest list
Location-->

<div ng-controller="DatepickerDemoCtrl">
    <div ng-controller="TimepickerDemoCtrl">
            <div class="container" ng-controller="DetailsController">
   
   <form>
  <legend>Event Info</legend>
  <div class="form-group">
    <label  for="frmEventName">Name</label>
    <input type="text" ng-model="event.title" autofocus placeholder="peters party" required id="frmEventName">
  </div>

  <div class="form-group">
    <label for="frmEventType">Type</label>
    <input type="text" ng-model="event.type" placeholder="party" required id="frmEventType">
  </div>

  <div class="form-group">
    <label for="frmAddressS">Location</label>
    <input name="ship-address" required id="frmAddressS" placeholder="123 Any Street" ng-model="event.location" autocomplete="street-address">
  </div>

  <div class="form-group">
    <label for="frmHost">Host</label>
	<input type="text" ng-model="event.host" placeholder="perters home" required id="frmHost" /> 
  </div>

</form>
     
   <label>Guests</label><input type="text" placeholder="John Smith" ng-model="guest" /> 
   <button type="submit" class="btn btn-primary" ng-click="addguest(guest)">Add Guest</button>	

    <ul>
         {% raw %}<li ng-repeat="guest in guestlist">{{guest}}
         <button type="submit" class="btn btn-primary" ng-click="removeguest(guest)">Remove Guest</button>	
         </li>
         {% endraw %}
    </ul>


    <h4>Start date</h4>
    <div style="display:inline-block; min-height:290px;">
      <uib-datepicker ng-model="startdate" class="well well-sm" datepicker-options="options"></uib-datepicker>
    </div>

    <h4>End date</h4>
    <div style="display:inline-block; min-height:290px;">
      <uib-datepicker ng-model="enddate" class="well well-sm" datepicker-options="options"></uib-datepicker>
    </div>



    <hr />
    <!--<button type="button" class="btn btn-sm btn-info" ng-click="today()">Today</button>
    <button type="button" class="btn btn-sm btn-default" ng-click="setDate(2009, 7, 24)">2009-08-24</button>
    <button type="button" class="btn btn-sm btn-danger" ng-click="clear()">Clear</button>
    <button type="button" class="btn btn-sm btn-default" ng-click="toggleMin()" uib-tooltip="After today restriction">Min date</button>-->


  <uib-timepicker ng-model="startdate" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></uib-timepicker>
  
  <uib-timepicker ng-model="enddate" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></uib-timepicker>   

   {% raw %}
   <pre class="alert alert-info">Events starts at {{startdate | date:'fullDate' }} {{enddate | date:'fullDate' }}   {{startdate | date:'shortTime' }} {{enddate | date:'shortTime' }}</pre>
   {% endraw %} 

  <hr>


  <div class="alert alert-danger" ng-show="stringmissing(event.title)"> <strong>Name</strong> of event missing </div>
  <div class="alert alert-danger" ng-show="stringmissing(event.type)"> <strong>Type</strong> of event missing </div>
  <div class="alert alert-danger" ng-show="stringmissing(event.host)"> <strong>Host</strong> of event missing </div>
  <div class="alert alert-danger" ng-show="stringmissing(startdate)"> <strong>Startdate</strong> is missing </div>
  <div class="alert alert-danger" ng-show="stringmissing(enddate)"> <strong>End date</strong> is missing </div>

  <button type="submit" class="btn btn-primary" ng-click="addEvent(event)">Add Event</button>	
  <button type="submit" class="btn btn-primary" ng-click="showuser()">Show User</button>	
  
  <!--<button type="button" class="btn btn-danger" ng-click="clear()">Clear</button>-->

</div>
</div>
</div>